.characterInfo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.characterInfo-img {
  position: relative;
  border-radius: 50%;
  width: 700px;
  height: 700px;
}

.characterInfo-card {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.characterInfo-description {
  display: flex;
  flex-direction: column;
}

.characterInfo-notFound {
  padding: 10px;
  background-color: aliceblue;
  color: red;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px;
}

.characterInfo-return {
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10px;
  background-color: greenyellow;
  color: black;
  font-size: 16px;
}